<div class="container">
    <div class="shop-item-container">
        <div class="row">
            <div class="col-6">
                <div class="shop-item-image">

                </div>
            </div>
            <div class="col-6">
                <div class="shop-item-details">
                    <div class="shop-item-name">
                        {{item?.name}}
                    </div>
                    <div class="shop-item-description">
                        <p>{{item?.description}}</p>
                    </div>
                    <div class="shop-item-price">
                        &pound;{{item?.price}}
                    </div>
                    <div class="shop-item-colour">
                        <p>Colour:</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="cart-item-size" style="float: right;">
                                <span class="item-name">Size</span>
                                <div class="size-select"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cart-item-amount">
                                <span class="item-name">Qty</span>
                                <div class="amount-select"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3">
                            <div class="add-item" style="text-align: center;">
                                <span class="item-name">
                                    Add To Bag
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>