<div class="container">
    <div class="row mb-3 mt-3">
    	<div class="center-block col-10">
    		<div class="row">
    			<div class="col-4">
					<table>
						<tr>
							<td>
								<div class="manual-item">
									<a class="manual-button" [routerLink]="['/account/accountoverview']">Account Overview</a>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="manual-item">
									<a class="manual-button" [routerLink]="['/account/editDetail']">Your Detail</a>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="manual-item">
									<a class="manual-button" [routerLink]="['/account/editAddress']">Your Address</a>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="manual-item">
									<a class="manual-button" [routerLink]="['/account/orderhistory']">Your orders</a>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="manual-item">
									<a class="manual-button" [routerLink]="['/account/editSubscription']">Contact Preference</a>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-8">
					<div class="row">
						<div class="col-9">
							<div class="overview-greetings">Hi{{name}},</div>
							<div class="overview-content">
								<p>Review your account details to ensure you are having the best experience here</p>
							</div>
						</div>
						<div class="col-3 overview-button-wrapper"><a class="overview-button"  style="text-decoration: underline;" [routerLink]="['/account/logout']">Not you? Logout</a></div>
					</div>

					<div class="row">
						<table>
						<tr>
							<td>
								<div class="row overview-content-row">
									<div class="col-7">
										<div>
											<p class="overview-content-title">customise your experience.</p>
										</div>
										<div>
											<p class="overview-content">edit Your name, age, gender and birthday</p>
										</div>
									</div>
									<div class="col-5 overview-button-wrapper">
										<a class="overview-button" style="text-decoration: underline;" [routerLink]="['/account/editDetail']">Edit detail</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="row overview-content-row">
									<div class="col-7">
										<div>
											<p class="overview-content-title">Your address</p>
										</div>
										<div>
											<p class="overview-content">edit your address now and save time at checkout</p>
										</div>
									</div>
									<div class="col-5 overview-button-wrapper">
										<a class="overview-button" style="text-decoration: underline;" [routerLink]="['/account/editAddress']">Edit Address</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="row overview-content-row">
									<div class="col-7">
										<div>
											<p class="overview-content-title">Contact Preference</p>
										</div>
										<div>
											<p class="overview-content">Edit your subscription preference</p>
										</div>
									</div>
									<div class="col-5 overview-button-wrapper">
										<a class="overview-button" style="text-decoration: underline;" [routerLink]="['/account/editSubscription']">Edit subscription</a>
									</div>
								</div>
							</td>
						</tr>
						</table>
					</div>
				</div>	
    		</div>
    	</div>
    </div>
</div>