table{
	width: 100%;
	border-collapse: collapse;
}
tr{
	border-bottom: 1px dotted #dedede;
	/*background: #dedede59;*/
}
tr:nth-child(1){
	border-top: 1px dotted #dedede;
}
.manual-item{
	/*background: #dedede;*/
	width: 100%; 	
	margin: 2px;
    cursor: pointer;
}
.manual-button {
	font-family: 'FuturaPTBook', sans-serif;
    color: #231f20;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}
.manual-item:hover{
	background-color: #87898c;
	color: white;
}

.overview-button-wrapper{
	text-align: right;
}
.overview-button {
	font-family: 'FuturaPTBook', sans-serif;
    color: #231f20;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    cursor: pointer;
}

.overview-item > div > p {
	margin: 0px;
}

.overview-content-title{
	font-weight: bold;
	color: #231f20;
	text-transform: uppercase;
}

.overview-content{
	font-size: 11px !important;
	color: #231f20;
}

.overview-content-row{
	position: relative;
	padding-left: 1.25em;
	padding-right: 1.25em;
	border: 1px solid transparent;
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overview-content-row > div > div> p {
	margin: 0px;
}

.overview-greetings{
	font-size: 25px !important;
}


