<div class="no-items">
    <p>Your shopping bag is empty!</p>
    <p class="no-items-info">
        <a href="">Keep shopping</a> and find something exciting to put in it.</p>
</div>

<div class="items">
    <div class="container">
        <div class="items-container">
            <div class="cart-item">
                <div class="row">
                    <div class="col-2">
                        <div class="cart-item-image"></div>
                    </div>
                    <div class="col-3">
                        <div class="cart-item-details">
                            <span class="item-name">Item Name</span>
                            <p class="item-description">Item Description</p>
                            <br/>
                            <span class="item-name" style="margin-top: 15px; cursor:pointer; text-decoration: underline;">add to wishlist</span>
                            <br/>
                            <span class="item-name" style="margin-top: 5px; cursor:pointer; text-decoration: underline;">remove</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="cart-item-size">
                            <span class="item-name">Size</span>
                            <div class="size-select"></div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="cart-item-amount">
                            <span class="item-name">Qty</span>
                            <div class="amount-select"></div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="cart-item-colour">
                            <span class="item-name">Colour</span>
                            <div class="colour-select"></div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="cart-item-price" style="float: right; margin-right: 20px;">
                            <span class="item-name">Price</span>
                            <div class="item-price">&pound;0.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>