<div class="row">
    <div class="col-12">
        <div class="container">
            <h1>𝕷𝖆𝖈𝖊 𝕭𝖔𝖚𝖙𝖎𝖖𝖚𝖊</h1>
            <p>We're coming soon! - do you need us earlier?</p>
            <p>Catch us at <a href="http://www.laceboutiqueuk.co.uk" style="text-decoration: underline;">www.laceboutiqueuk.co.uk</a> or slide into our DM's</p>
            <p><a href="https://www.facebook.com/laceboutiqueuk/"><i class="fa fa-facebook-official fa-2x"></i></a>
                <a href="https://twitter.com/laceboutique1"><i style="margin-left: 25px;" class="fa fa-twitter fa-2x"></i></a></p>
        </div>
    </div>
</div>