<div class="container" style="margin-top: 25px;">
    <mobile-return *ngIf="mobile == true"></mobile-return>
    <div class="card" [ngStyle]="{'margin-top' : mobile ? '15px' : '-10px' }">
        <div class="card-header">
            <h2 class="item-name">Account Overview</h2>
            <hr>
        </div>
        <div class="card-content">
            <div class="card-body">
                <span><p style="display:inline;">You're currently logged in as; </p> <strong>{{account.email}}</strong>, <a href="">this not you?</a></span>
            </div>
        </div>
    </div>
</div>