input {
    width: 75%;
}

.title {
    font-family: 'FuturaPTBook', sans-serif;
    color: #231f20;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

.form-label {
    font-size: 13px;
    text-transform: uppercase;
}

