<div class="page-container">
    <div #deliveryNote class="delivery-note">
        <div class="row">
            <div class="col-12">
                <h4 class="delivery-note-title">free standard uk delivery over £100</h4>
            </div>
        </div>
    </div>
    <nav class="main-nav">
        <div #logo class="logo">
            <div class="row">
                <div class="col-12">
                    <h1 class="logo-text">𝓛𝓪𝓬𝓮 𝓑𝓸𝓾𝓽𝓲𝓺𝓾𝓮</h1>
                </div>
            </div>
        </div>
        <div #mainNav class="page-nav" [ngClass]="{'fixed-nav' : fixedNav == true}">
            <div class="row">
                <div class="col-12">
                    <ul class="primary-nav center-block" [ngClass]="{'fixed-nav-padding' : fixedNav == true}">
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">New!</a>
                        </li>
                        <li>
                            <a href="">Sale</a>
                        </li>
                        <li>
                            <a href="">Clothing</a>
                        </li>
                        <li>
                            <a href="">Dresses</a>
                        </li>
                        <li>
                            <a href="">Tops</a>
                        </li>
                        <li>
                            <a href="">Shoes</a>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>