.nav-header, .site-nav {
    border-bottom: 1px solid #dedede;
}

.main-nav {
    padding: 15px 0;
}

.nav, .nav li span, .site-nav-ul li a {
    font-family: 'FuturaPTBook', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #a7a5a6;
    cursor: pointer;
}

.site-nav-ul {
    padding-left: 0;
}

.site-nav-ul li {
    padding: 16px 15px;
    padding-bottom: 16.8px;
    cursor: pointer;
}

.site-nav-ul li a {
    color: #000;
    font-size: 14px;
}

.site-nav-ul li:hover {
    background-color: #f8f8f8; /* Greyish */
    /* background-color: #FFCFCF; */ /* Pink */
    /* background-color: #EEE8AA; */
    text-decoration: none;
}

.site-nav-ul li:hover>a, .site-nav-ul li a:hover {
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

#left-nav li span {
    font-size: 10px;
    margin-left: 1em;
    opacity: 0;
}

.nav li:hover, .nav li:hover>span {
    color: #333;
}

#left-nav li:hover>span {
    opacity: 1;
}

#right-nav {
    float: right;
}

.search-box {
    display: inline-block;
    border: 1px solid #a7a5a6;
    line-height: 2;
    padding-right: 3px;
    margin-right: -4px;
    padding-left: 10px;
    color: #dedede;
}