.container {
    min-height: 500px;
}

.shop-end {
    margin-top: 25px;
}

.clear-apply {
    width: 100%;
    float: right;
    padding-right: 15px;
}

.clear-apply span {
    text-decoration: underline;
    cursor: pointer;
}

.all-less-padding:before {
    margin-right: 3.5px;
}

.hundred-less-padding:before {
    margin-right: 2px;
}

.filter-count {
    float: right;
    font-family: 'FuturaPTBook', sans-serif;
    color: #a7a5a6;
}

@media only screen and (min-width : 765px) and (max-width: 1199px) {
}

