<div class="page-container">
    <div class="master-header">
        <div #personalHeader class="personal-header">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p class="delivery-info">Limited Time! Free UK delivery on orders over £100</p>
                        <p class="delivery-info-code">Use code UKSHIP at checkout.</p>
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <ul style="color:white;">
                            <li class="nav-icon-hover">
                                <i class="nav-icon fa fa-user"></i>
                            </li>
                            <li class="nav-seperator"><div class="nav-icon-border"></div></li>
                            <li class="nav-icon-hover">
                                <i class="nav-icon fa fa-question"></i>
                            </li>
                            <li class="nav-seperator"><div class="nav-icon-border"></div></li>
                            <li class="nav-icon-hover">
                                <i class="nav-icon fa fa-heart"></i>
                            </li>
                            <li class="nav-seperator"><div class="nav-icon-border"></div></li>
                            <li class="nav-icon-hover">
                                <i class="nav-icon fa fa-shopping-bag"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-header">

        </div>
    </div>

    <nav #mainNav class="main-nav" [ngClass]="{'fixed-nav' : fixedNav == true}">
        <div class="row">
            <div class="col-12">
                <ul class="primary-nav center-block" [ngClass]="{'fixed-nav-padding' : fixedNav == true}">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">New!</a>
                    </li>
                    <li>
                        <a href="">Sale</a>
                    </li>
                    <li>
                        <a href="">Clothing</a>
                    </li>
                    <li>
                        <a href="">Dresses</a>
                    </li>
                    <li>
                        <a href="">Tops</a>
                    </li>
                    <li>
                        <a href="">Shoes</a>
                    </li>
                    <li>
                        <a href="">Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>