<div class="container">
    <div class="login-holder" style="margin: 25px 0;">
        <div class="row justify-content-md-center">
            <div class="col-12" style="text-align: center;">
                <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row justify-content-md-center" style="margin-top: 10px;">
            <div class="col-12" style="text-align: center;">
                <h2 class="title">Register with Lace Boutique</h2>
            </div>
        </div>

        <form #f="ngForm">
            <div class="row justify-content-md-center" style="margin-top: 10px;">
                <div class="col-md-5 col-lg-5 col-xl-5 col-12" style="text-align: center;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="usernameTooltipPrepend">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email Address" aria-describedby="usernameTooltipPrepend"
                            value="" id="email" name="email" #email="ngModel" [(ngModel)]="register.email" required>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-top: 10px;">
                <div class="col-md-5 col-lg-5 col-xl-5 col-12" style="text-align: center;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="passwordTooltipPrepend">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" aria-describedby="passwordTooltipPrepend"
                            value="" id="password" name="password" #password="ngModel" [(ngModel)]="register.password"
                            pattern='((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})' minlength="8" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-top: 10px;">
                <div class="col-md-5 col-lg-5 col-xl-5 col-12" style="text-align: center;">
                    <div class="form-check">
                        <input style="margin-top: .55rem;" type="checkbox" class="form-check-input" id="subscription"
                            name="subscription" [(ngModel)]="register.subscription">
                        <label class="form-check-label" for="subscription" style="font-size: 11px !important; cursor:pointer;">I
                            am
                            happy to subscribe to Lace Boutique offers by email.</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center" *ngIf="registerServerErrorMsg != ''" style="margin-top: 10px;">
                <div class="col-md-5 col-lg-5 col-xl-5 col-12" style="text-align: center; color: red;">
                    <i class="fa fa-exclamation-triangle" style="color: red;" aria-hidden="true"></i>
                    Ooops! {{registerServerErrorMsg}}
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-top: 10px;">
                <div class="col-md-5 col-lg-5 col-xl-5 col-12" style="text-align: center;">
                    <div class="add-item" style="text-align: center;" (click)="registerUser(f)">
                        <span class="item-name">
                            Register
                        </span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-top: 10px;">
                <div class="col-md-5 col-lg-5 col-xl-5 col-12" style="text-align: center;">
                    Have an account already?
                    <a class="item-name form-label" style="text-decoration: underline;" [routerLink]="['/account/login']">Login</a>
                    instead!
                </div>
            </div>
        </form>
    </div>
</div>