<!--
<div class="no-items">
    <p>Your shopping bag is empty!</p>
    <p class="no-items-info">
        <a href="">Keep shopping</a> and find something exciting to put in it.</p>
</div>
 -->


<div class="container">

    
    <div class="items-container">
        <div class = "row mb-5">
            <div class="title col-5 center-block">
                Register with Lace Boutique
            </div>
        </div>

        <div></div>
        
        <div class="center-block col-6">
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label form-label">Email</label>
                <div class="col-8">
                    <input class="input-text" type="email" value="" id="email">
                </div>
            </div>

            <div class="form-group row">
                <label for="confirmEmail" class="col-4 col-form-label form-label">Confirm Email</label>
                <div class="col-8">
                    <input class="input-text" type="email" value="" id="confirmEmail">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-4 col-form-label form-label">Password</label>
                <div class="col-8">
                    <input class="input-text" type="password" value="" id="password">
                </div>
            </div>

            <div class="form-group row">
                <label for="confirmPassword" class="col-4 col-form-label form-label">Confirm Password</label>
                <div class="col-8">
                    <input class="input-text" type="password" value="" id="confirmPassword">
                </div>
            </div>


            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="subscription">
                <label class="form-check-label" for="subscription">I am happy to subscribe to Lace Boutique offers by email.</label>
            </div>
            <span class="item-name" style="margin-top: 15px; cursor:pointer; text-decoration: underline;text-align: center;">Register</span>
            <!-- <button type="submit" class="btn btn-primary">Register</button> -->
        </div>
    </div>
</div>