<div class="no-items">
    <p>Your wishlist (0)</p>
    <p class="no-items-info">Items added to your wishlist will appear here. Though
        <a href="">SIGN IN</a> or
        <a href="">CREATE AN ACCOUNT</a> to save these items for next time.</p>
</div>

<div class="container">
    <div class="page-settings">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="shop-sort" (click)="displaySortMenu();">
                            <span class="sort-text">Sort By</span>
                            <i class="fa shop-plus" [ngClass]="{'fa-plus' : sortMenuOpen == false, 'fa-minus' : sortMenuOpen == true}"></i>
                            <div #shopSort class="shop-sort-dropdown">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row justify-content-end">
                    <div class="col-xl-4 col-lg-4 col-md-5">
                        <div class="view-all">
                            <span class="view-all-text">
                                Add All To Bag
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="view-all">
                            <span class="view-all-text">
                                Remove All
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-content">
        <div class="row">
            <div class="col-4">
                <div class="shop-item">
                    <div class="item-image">

                    </div>
                    <div class="item-content">
                        <span class="item-name">Item Name
                            <span style="float: right; margin: 5px; cursor:pointer; text-decoration: underline;">remove</span>
                        </span>
                        <p class="item-description">Item Description</p>
                        <p class="item-price">&pound;59.99</p>
                    </div>
                    <div class="add-item" style="text-align: center;">
                        <span class="item-name">
                            Add To Bag
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>