/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "BentonSansBook";
    src: url("resources/BentonSansBook.otf");
}

@font-face {
    font-family: "FuturaPTBook";
    src: url("resources/FuturaPTMedium.otf");
}

*:focus {
    outline: none;
}

.fa-15x {
    font-size: 15em;
}

h4 {
    font-family: 'FuturaPTBook', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 1px;
    font-weight: 500;
    color: #231f20;
    margin-bottom: 15px;    
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: inline;
}

ul li {
    display: inline;
    padding: 10px 15px;
}

a, a:hover {
    text-decoration: none;
}

#no-padding-left {
    padding-left: 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-text-transform {
    text-transform: none !important;
}

.shop-plus {
    float:right; 
    padding: 13px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
}

/**
Shop Components
**/
.shop-filter, .shop-sort, .shop-pages, .view-all, .item-amount {
    border: 1px solid #dedede;
    height: 38px;
    line-height: 34px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
}


.shop-filter:hover, .shop-sort:hover, .view-all:hover, .item-amount:hover {
    background-color: #dedede;
}

.shop-filter-dropdown, .shop-sort-dropdown, .item-amount-dropdown {
    position: absolute;
    width: calc(100% + 2px);
    border: 1px solid #dedede;
    background-color: white;
    margin-left: -1px;
    display: none;
    height: auto;
    z-index: 999;
}

.shop-content {
    height: auto;
    margin-top: 35px;
}

.shop-pages {
    border: none;
    cursor: default;
}

.page-info {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    outline-style: none;
}

.page-info i {
    padding: 11.6px;
    border: 1px solid #dedede;
    cursor: pointer;
    /*opacity: 0.5;*/ /*Ready for when they are disabled - set opacity lower*/
}

.page-disabled {
    opacity: 0.6;
    cursor: default !important;
}

.back-arrow, .forward-arrow {
    border: 1px solid #dedede;
    width: 50px;
    height: 20px;
}

.page-info i:hover {
    background-color: #dedede;
}

.page-disabled:hover {
    background-color: white !important;
}

.filter-text, .sort-text, .page-info, .view-all-text, .back-to-top-text, .item-name, .item-description, .item-price, .item-amount-text, .shop-item-name, .shop-item-description p, .shop-item-price, .shop-item-colour  {
    font-family: 'FuturaPTBook', sans-serif;
    color: #231f20;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding-left: 10px;
}

.item-amount, .view-all {
    text-align: center;
}

.page-info, .item-amount-text, .view-all-text {
    padding-left: 0;
}

.back-to-top {
    width: 130px;
    padding: 5px 0;
    padding-left: 22px;
    cursor: pointer;
}

.back-to-top-text i {
    padding-left: 25px;
}

.shop-item {
    margin-top: 25px;
}

.item-image {
    background-color: black;
    width: 100%;
    height: 300px;
}

.item-content {
    margin-top: 15px;
    border-top: 1px solid #dedede;
}

.item-description, .item-price {
    text-transform: none;
}

.item-description {
    font-size: 11px;
}

.item-name, .item-description, .item-price {
    padding-left: 0;
    margin-bottom: 0;
}

.item-price {
    margin-top: 5px;
}

.add-item {
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #dedede;
    background-color: #dedede;
    /* background-color: #000;
    color: #fff; */
    height: 30px;
}

.add-item:hover {
    opacity: 0.8;
}

input {
    border: 1px solid #dedede;
    padding-left: 5px;
    line-height: 30px;
    cursor: pointer;
    position: relative;
    font-family: 'FuturaPTBook', sans-serif;
    color: #231f20;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
}

input:hover {
    background-color: #dedede;
}

input:focus {
    outline: none;
    border: 1px solid #dedede;
}


.invalid-message{
    color: red;
    font-size: 10px !important;
}


.filter-ul {
    padding-inline-start: 0px;
}

.filter-ul li {
    display: block;
    padding: 0;
}

.hidden-checkbox {
    left: -9999px;
    position: absolute;
    z-index: 1;
}

.real-checkbox {
    width: 100%;
    font-family: 'FuturaPTBook', sans-serif;
    cursor: pointer;
}

.real-checkbox:before {
    border: 1px solid #555;
    content: '';
    display: inline-block;
    height: 10px;
    left: 0;
    margin-top: -6px;
    margin-right: 10px;
    width: 10px;
    top: 50%;
}

.real-checkbox-checked:before {
    background-color: #555;
}

.filter-section {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 10px;
}

.filter-section-title-container {
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    padding-bottom: 5px;
}

.filter-section-title, .clear-apply {
    font-family: 'FuturaPTBook', sans-serif;
    color: #231f20;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}

.modal-background {
    background-color: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
}

.account-menu {
	margin-top: 15px;
	-webkit-box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
    box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
}

.card-header {
    background-color: white;
    border: none;
}

.card {
    border: none;
	margin-top: -10px;
	-webkit-box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
    box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
}

.card-content {
    background-color: white;
}

.card-body {
    padding-top: 0;
}

.font-settings {
    font-family: 'FuturaPTBook', sans-serif;
    color: #231f20;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
}