<div class="footer-container">
    <div class="container">
        <div class="footer-nav">
            <div class="row">
                <div class="col-4">
                    <h4>Contact</h4>
                    <div class="contact-details">
                        <p>M: +44 (0) 7795 553905</p>
                        <p>T: 01636 679884</p>
                        <p>E:
                            <a href="mailto:info@laceboutique.uk">info@laceboutique.uk</a>
                        </p>
                    </div>
                </div>
                <div class="col-2">
                    <h4>Help</h4>
                    <div class="help-details">
                        <p>Delivery</p>
                        <p>Returns</p>
                        <p>FAQs</p>
                    </div>
                </div>
                <div class="col-2">
                    <h4>Account</h4>
                    <div class="account-details">
                        <p>My Account</p>
                        <p>Wish List</p>
                        <p>Order History</p>
                        <p>Cancellation & Returns</p>
                    </div>
                </div>
                <div class="col-2">
                    <h4>Discover</h4>
                    <div class="discover-details">
                        <p>Designers</p>
                        <p>Looks</p>
                        <p>Newsletter</p>
                    </div>
                </div>
                <div class="col-2">
                    <h4>About</h4>
                    <div class="about-details">
                        <p>About Us</p>
                        <p>Stock With Us</p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-12">
                    <p class="copyright-details">
                        &copy; Lace Boutique | <a href="">Terms & Conditions</a> | <a href="">Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>